body {
    font-family: tahoma, sans-serif;
    background-image: linear-gradient(rgba(60, 180, 250, 1), rgba(10, 65, 100, 1), rgba(0, 20, 40, 1));
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    margin-bottom: 100px;
}

.todo-form {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: auto;
}

.todo-form input {
    padding: 15px;
    margin-top: 50px;
    border-radius: 8px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 10px auto;
    padding: 20px;
    border-radius: 3px;
    background-color: rgba(200, 220, 250, 1);
    box-shadow: 2px 2px 3px rgba(10, 10, 10, 1);
    font-weight: 600;
    overflow-wrap: break-word;
}

.add-button {
    width: 30%;
    padding: 10px;
    margin: 40px auto 60px auto;
    border-style: none;
    border-radius: 3px;
    color: white;
    background-color: rgba(30, 120, 190, 1);
    box-shadow: 2px 2px 5px rgba(5, 5, 5, 1);
}

.delete-button {
    background-color: rgba(200, 50, 50, 1);
    border-style: none;
    border-radius: 3px;
    border: 1px solid rgba(150, 0, 0, 1);
    padding: 3px 6px;
    margin-left: 20px;
    max-height: 25px;
    box-shadow: 1px 1px 3px rgba(50, 50, 50, 1);
    color: white;
}

.add-button:hover,
.delete-button:hover {
    box-shadow: 1px 1px 1px rgba(5, 5, 5, 1);
}
